@import "tailwindcss";

:root {
    --background: oklch(70.18% 0.1397 135.31);
    --foreground: oklch(20.46% 0 0);
    --card: oklch(100% 0 0);
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
}

body {
    color: var(--foreground);
    background: var(--background);

    transition: opacity 250ms ease-in-out;
}
